@import url('https://fonts.googleapis.com/css?family=Sacramento|Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/* general colours to use for italian styling 
red - #801e01
dark green - #2f6002
pink - #dbaea8
light green - #6da577
beige - #e8e1ce
*/

/*--------------------------------------------------------------- General Styles */

h1,
h2,
h3,
h4,
h5 {
    margin: 3px;
    padding: 5px;
    font-family: 'Playfair+Display: 700', sans-serif;

}

.general-text {
    font-family: 'Playfair+Display: 400', sans-serif;
    font-size: 12px;
}

.italicised-general-text{
    font-family: 'Playfair+Display: 400i', sans-serif;
    font-size: 11px;
}

/* ---------------------------------------------------------------Headers/navbar */

.navbar {
    width: 100%;
    height: 175px;
    margin-bottom: 15px;
    padding: 25px;
    border: 0;
}

.nav-colour {
    background-color: #6da577;
    color: #fafafa;
}

.sidenav {
    color: #801e01;
    background-color: #fafafa;
    font-family: 'Playfair+Display: 700', sans-serif;
    font-size: 12px;
}

.logo-style {
    color: #801e01;
    border-radius: 18px;
    background-color: #fafafa;
    text-align: center;
    font-family: "Sacramento", sans-serif;
    font-size: 4em;
    padding: 10px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;

}

/* --------------------------------------------------------------- imagery on home page*/

.br-image-italia1 {
  height: 50vh;
  width: 100%;
    background: url('../images/italia1.jpeg') no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  align-items: center;
  justify-content: center;

  position: relative;
}


.container-main-body{
    margin: 10px 50px;
}



/* --------------------------------------------------------------- card styling */

.card-styling {
    display: inline-block;
    position: relative;
    padding: 10px;
    margin: 20px;
}

.recipes-pages {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 250px;
    margin: 20px;
}

/* --------------------------------------------------------------- search bar styling */

.active-pink-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}


/*  ---------------------------------------------------------------individual recipe pages styling*/

.recipe-image {
    display: inline;
    position: relative;
    width: 250px;
    height: 250px;
}


/*  --------------------------------------------------------------- footer styling */

footer {
    background-color: #6da577;
    color: #fafafa;
    min-height: 100px;
    text-align: center;
}

.footer-styling-brand{
    font-family: "Sacramento", sans-serif;
    font-size: 2em;
    text-align: center;
}

.foot-styles {
    font-family: 'Playfair+Display: 700', sans-serif;
    font-size: 1em;
    text-align: center;
}


/* popup styling*/ 
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}


/* --------------------------------------------------------------- alternative view for media */

@media(min-width:768px) {
    
}