@import url('https://fonts.googleapis.com/css?family=Sacramento|Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/* general colours to use for italian styling 
red - #801e01
dark green - #2f6002
pink - #dbaea8
light green - #6da577
beige - #e8e1ce
*/

/*--------------------------------------------------------------- General Styles */

h1,
h2,
h3,
h4,
h5 {
    margin: 3px;
    padding: 5px;
    font-family: 'Playfair+Display: 700', sans-serif;

}

.general-text {
    font-family: 'Playfair+Display: 400', sans-serif;
    font-size: 12px;
}

.italicised-general-text{
    font-family: 'Playfair+Display: 400i', sans-serif;
    font-size: 11px;
}

/* ---------------------------------------------------------------Headers/navbar */

.nav-item {
    font-family: "Playfair", sans-serif;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    padding-right: 10px;
    margin: 10px;
    text-transform: uppercase;
    color: #801e01;
}

.navbar {
    width: 100%;
    height: 175px;
    margin-bottom: 15px;
    padding: 25px;
    border: 0;
    background-color: #6da577;
}

.nav-link {
    background-color: #6da577;
    color: #fafafa;
    display: inline-block;
    text-decoration: none;
}

.logo-style {
    color: #801e01;
    border-radius: 18px;
    text-align: center;
    font-family: "Sacramento", sans-serif;
    font-size: 4em;
    padding: 10px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    transition: all .5 ease-in-out;
    -o-transition: all .5 ease-in-out;
    -moz-transition: all .5 ease-in-out;
    -webkit-transition: all .5 ease-in-out;
}
.navbar {
    margin-bottom: 20px;
    width: 100%;
    border: 0;
}

.navbar-toggler {
    background-color: #801e01;
    color: #fafafa;
}

.navbar-toggler.toggler-nav {
    cursor: pointer;
}

.btn--color {
    background-color: #6da577;
    color: #fafafa;
}

.navbar-custom {
    background-color: #fafafa;
}

.fa-bars {
    color: #801e01;
}


/* --------------------------------------------------------------- imagery on home page*/

.callout-container {
  height: 50vh;

  background: url('../images/italia1.jpeg') no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 1;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.55);
  text-align: center;
}

.jumbo-heading {
  color: #801e01;
  font-family: 'Sacramento', sans-serif;
  font-size: 4em;
  font-weight: 500;
  margin-bottom: 30px;
}


/* --------------------------------------------------------------- card styling */

.card {
    display: inline-table;
}

.card.img{
    width: 300px;
    height: 300px;
}

.card-spacing-styles {
    margin: 15px 20px;
    padding: 5px;
}

.card-image-styles{
    width: 250px;
    height:250px;
}
.card-styling {
    display: inline-block;
    position: relative;
    padding: 10px;
    margin: 20px;
}

.recipes-pages {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 250px;
    margin: 20px;
}

/* --------------------------------------------------------------- search bar styling */

.search-row {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 15px;
    margin-right: 15px;
}

.active-pink-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
}


/*  ---------------------------------------------------------------individual recipe pages styling*/

.recipe-image {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 250px;
}


/*  --------------------------------------------------------------- footer styling */

footer {
    background-color: #6da577;
    color: #fafafa;
    min-height: 100px;
    text-align: center;
    margin-top: 50px;
    padding: 15px;
}

.footer-text {
    font-family: "Sacramento", sans-serif;
    font-size: 2em;
    margin: 20px;
}

.copyright-text {
    font-family: 'Playfair+Display: 500i', sans-serif;
    font-size: 8px;
    margin: 20px;
}


/* --------------------------------------------------------------- scroll button */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #2f6002;
    color: #fafafa;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #6da577;
}

/* --------------------------------------------------------------- hovers for different elements */


.ui-nav-color:hover {
    color: #801e01;
    background-color: #dbaea8;
    text-align: center;
    text-decoration: none;
    transition: ease-in-out;
}

a.nav-color:hover {
    color: #801e01;
}

.logo-style:hover{
    color: #dbaea8;
}

/* --------------------------------------------------------------- alternative view for media */

@media (max-width: 480px){
  
  .custom-brand{
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}