<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Italian Gluttony</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/css/mdb.min.css" rel="stylesheet">
	<link rel="stylesheet" href="static/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,900|Sacramento&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
		integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />


</head>

<body>


	<!-- navbar -->
	<nav class="navbar navbar-expand-md navbar-custom">

		<!-- Navbar brand -->
		<div>
			<div class="col-md-4 col-sm-12 logo-style"><a href="{{url_for('index')}}">Italian Gluttony</a></div>

			<!-- Collapse button -->
			<button class="navbar-toggler toggler-nav" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"><span class="btn btn-nav"><i class="fas fa-bars fa-1x"></i></span></button>

			<!-- Collapsible content -->
			<div class="collapse navbar-collapse" id="navbar-header">

				<!-- Links -->
				<ul class="navbar-nav mr-auto" id="nav-links">
					<li class="nav-item active ui-nav-color">
						<a class="nav-link nav-color" href="{{url_for('index')}}">Home
							<span class="sr-only">Home menu</span></a>
					</li>
					<li class="nav-item ui-nav-color">
						<a class="nav-link nav-color" href="{{url_for('get_all_recipes')}}">Recipes</a>
					</li>
					<li class="nav-item ui-nav-color">
						<a class="nav-link nav-color" href="{{url_for('create_recipe')}}">Create</a>
					</li>
                    <li class="nav-item ui-nav-color">
						<a class="nav-link nav-color" href="{{url_for('login')}}">Login</a>
					</li><li class="nav-item ui-nav-color">
						<a class="nav-link nav-color" href="{{url_for('register')}}">Register</a>
					</li>
				</ul>
				<!-- Links -->

			</div>
			<!-- Collapsible content -->
		</div>
	</nav>
	<!--/.Navbar-->



	<div class="container-fluid container-main-body">
		{% block content %} {% endblock %}
	</div>

</body>

<footer class="container-fluid">
	<div class="col-12">
		<div class="footer-text text-center"> Forever Italian...</div>
	</div>
	<div class="col-12">
		<div class="copyright-text text-center"> Copyright &copy; Italian Gluttony </div>
	</div>

</footer>

<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-up" aria-hidden="true"></i></button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js">
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/js/mdb.min.js"></script>


<script>
	// When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
                document.getElementById("myBtn").style.display = "block".fadeIn();
            }
            else {
                document.getElementById("myBtn").style.display = "none".fadeOut();
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }


</script>


</html>