{% extends "base.html" %} {% block content %}

<h4> Add and Share Your Own Recipe!</h4>


<form action="{{url_for('create_recipe')}}" method="POST" class="col-12">
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=80) }}<br>
            {%  for error in form.title.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(cols="120", rows="3") }}<br>
            {%  for error in form.description.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <div class="row">
            <div class="col-4">
                <p>
                    {{ form.ingredients.label }}<br>
                    {{ form.ingredients(cols="40", rows="16") }}
                    {%  for error in form.ingredients.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </p>
            </div>
            <div class="col-8">
                <p>
                    {{ form.method.label }}<br>
                    {{ form.method(cols="80", rows="16") }}
                    {%  for error in form.method.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </p>
            </div>
        </div>
        <p>
            {{ form.tags.label }}<br>
            {{ form.tags(size=80) }}<br>
            {%  for error in form.tags.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.image.label }}<br>
            {{ form.image(size=80) }}<br>
            {%  for error in form.image.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </div>
    </form>

{% endblock %}