{% extends "base.html" %} 

{% block content %}


<div class="container-fluid callout-container">
        <!-- Callout -->
        <div class="opaque-overlay">&nbsp;</div>
        <div class="col-12">
            <section class="callout jumbotron text-center">
                <p class="jumbo-heading"> Recipes for you, your family, for home and away. Always make it Italian! </p>
            </section>
        </div>
    </div>

<div class="row search-row">
    <div class="col-lg-12 general-text">
        <form class="form-inline d-flex justify-content-center md-form form-sm mt-0" action="{{url_for('search')}}">
            <i class="material-icons">search</i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Enter keywords to search  delicious Italian recipes!" name="query" />
            <div>
                <button class="btn btn-light" type="submit" name="action">Search</button>
            </div>
        </form>
    </div>
</div>

<!-- Cards for home page recipe snippets -->
<div class="container-md">
    {% for recipe in recipes %}
        <div class="card card-spacing-styles">
            <div class="card-img-top">
                <img class="activator card-image-styles" src="{{recipe.image}}" alt="recipeimg">
            </div>
            <div class="card-body">
                <span class="card-title">{{recipe.title}}</span>
                <p class="card-text">{{recipe.description}}</p>
                <p><a href="{{url_for('one_recipe', recipe_id=recipe._id)}}">Click here for more...</a></p>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}