{% extends "base.html" %} 

{% block content %}

<div class="row">
    <div class="col-12">
        <img clas="img-header" src="static/images/italia1.jpeg" alt="italianimg"></img>
    </div>
</div>

<div class="row search-row">
    <div class="col-12">
        <form class="form-inline d-flex justify-content-center md-form form-sm mt-0" action="{{url_for('search')}}">
            <i class="material-icons">search</i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Enter keywords for your search of delicious Italian recipes!" name="query" />
            <div>
                <button class="btn btn-light" type="submit" name="action">Search</button>
            </div>
        </form>
    </div>
</div>


<!-- Cards for home page recipe snippets -->
<div class="container-fluid">
    {% for recipe in recipes %}
    <div class="col-md-6 col-sm-4">
        <div class="card card-spacing-styles" style="width: 18em;">
            <div class="card-img-top">
                <img class="activator" src="{{recipe.image}}" alt="recipeimg">
            </div>
            <div class="card-body">
                <span class="card-title">{{recipe.title}}</span>
                <p class="card-text">{{recipe.description}}</p>
                <p><a href="{{url_for('one_recipe', recipe_id=recipe._id)}}">Click here for more...</a></p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}