{% extends "base.html" %} {% block content %}

<h4> Search results for: <em> {{query}} </em></h4>

<!-- Cards for results of recipes search -->
<div class="row">
	{% for recipe in recipes %}
		<div class="card">
			<img src="{{recipe.image}}" class="card-img-top" alt="recipeimg">
			<div class="card-body">
				<h5 class="card-title">{{recipe.title}}</h5>
				<p class="card-text">{{recipe.description}}</p>
				<a href="{{url_for('one_recipe', recipe_id=recipe._id)}}" class="btn btn-click-more waves-effect waves-light mt-auto">Click here for more...</a>
			</div>
		</div>
	{% endfor %}
</div>

{% endblock %}